* {
  font-family: 'Helvetica Neue';
}


.navbar {
  background-color: #12244C;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

h1 {
  color: #E3BAB3;
  font-weight: bold;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}

a {
  color: #fff;
}

a:hover {
  color: #EBE4E0;
  text-decoration: none;
}

footer {
  background-color: #E3BAB3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 25px;
}

.footer-text {
  font-size: .5em;
}

.navbar-text {
  margin: 0px;
  padding-top: 15px;
}

.party-names {
  line-height: 2em;
}

.party-container {
  background-color: #EBEADD;
  padding-top: 50px;
  margin: 0 20px 20px 20px;
  border-radius: 5px;
}

.registry-container {
  background-color: #EBEADD;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 20px 20px 20px;
  border-radius: 5px;
}

.party-row {
  padding-bottom: 20px;
}

.party-img {
  border-radius: 5px;
  width: 250px;
}

.hacienda {
  width:400px;
  border-radius: 5px;
}

.hacienda-image {
  text-align: center;
}

.details-text {
  text-align: center;
}

.story-details {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.reg-pic {
  width: 200px;
  padding: 20px;
}

#little-logo {
  width: 50px;
  border: solid 2px #FFF;
}

#little-logo:hover {
  color: #849974;
}

#main-photo {
  width: 100%;
  padding-bottom: 0px;
} 

.mal {
  padding-right: 50px;
}

.skype-img {
  width: 350px;
  float: right;
}

.kels {
  padding-left: 50px;
}

.b-align {
  display: inline;
  text-align: center;
  padding-bottom: 15px;
  margin-left: 300px;
}

.b {
  display: block;
  float: left;
  width: 200px;
  border-radius: 5px;
}

.first-pic {
  display: block;
  float: left;
  width: 200px;
  border-radius: 5px;
}

.engag-pic {
  display: block;
  float: left;
  width: 200px;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}