ul {
    list-style-type: none;
}

a {
  color: #fff;
}

footer {
  background-color: #EBE4E0;
}

a:hover {
  color: #EBE4E0;
  text-decoration: none;
}

.navbar-text {
  margin: 0px;
  padding-top: 15px;
}

.navbar {
  margin-bottom: 0;
}