* {
  font-family: 'Helvetica Neue';
}

ul {
    list-style-type: none;
}

a {
  color: #fff;
}

footer {
  background-color: #F1E5E8;
}

.footer-text {
  font-size: .5em;
}

a:hover {
  color: #EBE4E0;
  text-decoration: none;
}

.navbar-text {
  margin: 0px;
  padding-top: 15px;
}

.navbar {
  margin-bottom: 0;
}