<div class="navbar navbar-light" style="background-color: #8DA6AF;">
    <ul class="row text-center">
      <li class="col-md-3 nav-list-item"><a href="#">A bit of our story</li>
      <li class="col-md-3 nav-list-item"><a href="#">Wedding Details</li>
      <li class="col-md-3 nav-list-item"><a href="#">Wedding Party</li>
      <li class="col-md-3 nav-list-item"><a href="#">Registry</li>
    </ul>
</div>