<div class="navbar navbar-light" style="background-color: #8DA6AF;">
  <ul class="navbar-row row text-center">
    <li class="col-md-2 navbar-text"><a href="/details">A bit of our story</a></li>
    <li class="col-md-2 navbar-text"><a href="#">Wedding Details</a></li>
    <li class="col-md-2 navbar-text"><a href="/party">Wedding Party</a></li>
    <li class="col-md-2 navbar-text"><a href="#">Registry</a></li>
    <li class="col-md-2 navbar-text"><a href="/rsvp">RSVP</a></li>
    <li class="col-md-2 navbar-text"><div id="little-logo">K & M</div></li>
  </ul>
</div>