<div class="navbar navbar-light" style="background-color: #8DA6AF;">
  <ul class="navbar-row row text-center">
    <li class="col-md-3 navbar-text"><a href="#">A bit of our story</a></li>
    <li class="col-md-3 navbar-text"><a href="#">Wedding Details</a></li>
    <li class="col-md-3 navbar-text"><a href="#">Wedding Party</a></li>
    <li class="col-md-3 navbar-text"><a href="#">Registry</a></li>
  </ul>
</div>