<div class="navbar navbar-light" style="background-color: #8DA6AF;">
    <ul class="navbar-row row text-center">
      <li class="col-md-3 navbar-text"><a href="#">A bit of our story</li>
      <li class="col-md-3 navbar-text"><a href="#">Wedding Details</li>
      <li class="col-md-3 navbar-text"><a href="#">Wedding Party</li>
      <li class="col-md-3 navbar-text"><a href="#">Registry</li>
    </ul>
</div>