<div class="navbar">
  <ul class="navbar-row row text-center">
    <li class="col-md-3 navbar-text"><div id="little-logo"><a href="/">K & M</a></div></li>
    <li class="col-md-2 navbar-text"><a href="/details">A bit of our story</a></li>
    <li class="col-md-2 navbar-text"><a href="#">Wedding Details</a></li>
    <li class="col-md-2 navbar-text"><a href="/party">Wedding Party</a></li>
    <li class="col-md-2 navbar-text"><a href="#">Registry</a></li>
  </ul>
</div>