<h1 class="text-center"> Wedding Party </h1>
<div class="party-container text-center">
  <div class="row party-row">
    <div class="col-sm-6">
      Melissa Johnson<br>
      <img src="images/mel-mal.jpg" alt="">
    </div>    
    <div class="col-sm-6">
      Lindsay Aprahamian<br>
      <img src="images/linds-kels.jpg" alt="">
    </div>
  </div>
    <div class="row party-row">
    <div class="col-sm-6">
      Megan Clapp<br>
      <img src="images/meg-mal.jpg" alt="">
    </div>
    <div class="col-sm-6">
      Mollie Gunnoe<br>
      <img src="images/mollie-kels.jpg" alt="">
    </div>
  </div>
    <div class="row party-row">
    <div class="col-sm-6">
      Katie Panczner<br>
      <img src="images/katie-mal.jpg" alt=""> 
    </div>
    <div class="col-sm-6">
      Chloe Gove<br>
      <img src="images/chloe-kels.jpg" alt="">
    </div>
  </div>
    <div class="row party-row">
    <div class="col-sm-6">
      Matthew Wood<br>
      <img src="images/matt-mal.jpg" alt="">
    </div>
    <div class="col-sm-6">
      Tyler, Peter, and Lucas Santoro 
    </div>
  </div>
</div>
</div>