<h1 class="text-center"> Wedding Party </h1>
<div class="text-center">
  <div class="row party-row">
    <div class="col-sm-6 text-right mal">
      <h4>Melissa Garcia Johnson</h4><br>
      <img src="images/mel-mal.jpg" class="party-img" alt="">
    </div>   
    <div class="col-sm-6 text-left kels">
      <h4>Lindsay Aprahamian</h4><br>
      <img src="images/linds-kels.jpg" class="party-img" alt="">
    </div>
  </div>
    <div class="row party-row">
    <div class="col-sm-6 text-right mal">
      <h4 >Megan Clapp</h4><br>
      <img src="images/meg-mal.jpg" class="party-img" alt="">
    </div>
    <div class="col-sm-6 text-left kels">
      <h4>Mollie Gunnoe</h4><br>
      <img src="images/mollie-kels.jpg" class="party-img" alt="">
    </div>
  </div>
    <div class="row party-row">
    <div class="col-sm-6 text-right mal">
      <h4>Katie Panczner</h4><br>
      <img src="images/katie-mal.jpg" class="party-img" alt=""> 
    </div>
    <div class="col-sm-6 text-left kels">
      <h4>Chloe Gove</h4><br>
      <img src="images/chloe-kels.jpg" class="party-img" alt="">
    </div>
  </div>
    <div class="row party-row mal">
    <div class="col-sm-6 text-right">
      <h4>Matthew Wood</h4><br>
      <img src="images/matt-mal.jpg" class="party-img" alt="">
    </div>
    <div class="col-sm-6 text-left kels">
      <h4>Tyler, Peter, and Lucas Santoro </h4>
      <img src="images/bros.jpg" class="party-img" alt="">
    </div>
  </div>
</div>
</div>