<h1 class="text-center"> Wedding Party </h1>
<div class="text-center">
  <div class="row party-row">
    <div class="col-sm-6 text-right mal">
      <h4>Melissa Garcia Johnson</h4>
      <h5>Met in: Rwanda<br>Forever Friends since: Late night chats on<br> the porch in Kigali </h5>

      <img src="images/mel-mal.jpg" class="party-img" alt="">
    </div>   
    <div class="col-sm-6 text-left kels">
      <h4>Lindsay Aprahamian</h4>
      <h5>Met in: Page Hall (Westmont College)<br>Forever Friends since: Joshua Tree</h5>
      <h2></h2>
      <img src="images/linds-kels.jpg" class="party-img" alt="">
    </div>
  </div>
    <div class="row party-row">
    <div class="col-sm-6 text-right mal">
      <h4 >Megan Clapp</h4>
      <h5>Met in: class at Christian College<br>Forever Friends since: a late night heart to <br>heart a month before Meg graduated </h5>
      <h2></h2>
      <img src="images/meg-mal.jpg" class="party-img" alt="">
    </div>
    <div class="col-sm-6 text-left kels">
      <h4>Mollie Gunnoe</h4>
      <h5>Met in: Thailand<br>Forever Friends since: Day One</h5>
      <h2></h2>
      <img src="images/mollie-kels.jpg" class="party-img" alt="">
    </div>
  </div>
    <div class="row party-row">
    <div class="col-sm-6 text-right mal">
      <h4>Katie Panczner</h4>
      <h5>Met in: Witmer Hall, freshman year<br>Forever Friends since: Mutal weirdness was realized</h5>
      <h2></h2>
      <img src="images/katie-mal.jpg" class="party-img" alt=""> 
    </div>
    <div class="col-sm-6 text-left kels">
      <h4>Chloe Gove</h4>
      <h5>Met in: second year of college<br>Forever Friends since: Living together,<br> eating too many tacos, and watching<br> The Bachelor</h5>
      <h2></h2>
      <img src="images/chloe-kels.jpg" class="party-img" alt="">
    </div>
  </div>
    <div class="row party-row mal">
    <div class="col-sm-6 text-right">
      <h4>Matthew Wood</h4>
      <h5>Mal's brother<br>Forever Friends since: "surfing" on<br> toybox lids while dad blasted Beach Boys</h5>

      <h2></h2>
      <img src="images/matt-mal.jpg" class="party-img" alt="">
    </div>
    <div class="col-sm-6 text-left kels">
      <h4>Peter, Tyler, and Lucas Santoro </h4>

      <h5>Kelsey's brothers<br>Forever Friends since: our first weekend alone, <br>playing 007 and eating pizza.</h5>
      <h2></h2>
      <img src="images/bros.jpg" class="party-img" alt="">
    </div>
  </div>
</div>
</div>