<h1 class="text-center">Registry</h1>
<div class="text-center">
<h3>Kels and Mal are registered at ...</h2>
<h4><a href="https://www.macys.com/wgl/registry/guest?registryId=6714570&PartnerID=WEDDINGCHANNEL&cm_mmc=WEDDINGCHANNEL-_-Registry-_-n-_-Registry&LinkshareID=551870433&ref=wc">Macy's</a></h4>
<h4><a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=b2290810ca6b4e85a979989778a6834a&clkid=32b91afeN23424bf5a0389f1ba4ef75ad&lnm=81938&afid=The%20Knot%2C%20Inc.%20and%20Subsidiaries&ref=tgt_adv_xasd0002">Target</a></h4>
<h4><a href="https://www.crateandbarrel.com/gift-registry/kelsey-santoro-and-mal-wood/r5629225">Crate and Barrel</a></h4>
</div>