<form action="/rsvp" method="post" id="rsvpform">
  Name of guests<br>
  <input type="text" name="guests"><br>
  Message:<br>
  <input type="text" name="message">
</form>
<button type="submit" form="rsvpform" value="Submit">RSVP</button>