<h1 class="text-center"> Our Story </h1>
<div class="story-details">
October 2012 - Kels visits a friend who goes to the same college as Mal. Kels goes with her friend to one of her classes. Mal and Kels sit across from one another. Kels answers a lot of the professor’s questions and Mal thinks Kels is really smart. Mal and Kels have a very brief conversation after class about a mutual acquaintance.<br><br>

January 2013 - Kelsey makes her second trip to Thailand with the program she previously studied abroad with. This time she is coming back as a student leader. Mal decides to squeeze everything she could out of her last semester in college and study abroad for the second time before graduating. All of the East Coast students travel to Seoul where they meet the students from California before their final flight to Thailand. Kelsey and the students barely make the flight. Mal sees Kelsey run onto the plane and is intimidated by her coolness.<br><br>

February - April 2013 - Mal and Kels become friends throughout the program. Mal has feelings for Kels. Kels has feelings for Mal. Kels writes about them in her journal. Neither of them say a word.<br><br> 

April 13, 2013 - Mal turns twenty-two on the day of the most incredible festival called Songkran. Chiang Mai shuts down for a city-wide water festival celebrating the Thai New Year. Mal and Kels, along with everyone in the city limits, are drenched from head to toe the entire day.  While dancing in the streets, Mal says “I like you” to Kels. Kels says “I like you, too”.<br><br>

Summer of 2013 - Mal is home in Pennsylvania. Kelsey is home in California. Mal and Kels Skype almost every day.<br><br>

August 2013 - Mal is placed in Berkeley for her year of volunteer service with Lutheran Volunteer Corps.<br><br> 

September 2013 - Kelsey leaves to travel and explore the lands of Central America with best pal Lindsay.<br><br> 

October 2013 - Mal travels to Guatemala to explore caves, swim in rivers, and adventure around in the beautiful city of Antigua with Kels and Linds.<br><br> 

November 2013- ?? - Kels and Linds make it to every country in Central America. They spend time farming in the jungle, learning Spanish, taming tarantulas, and canoeing with buckets o’ beers.  Mal works at a homeless services agency, joins a band with Kelsey’s brother Tyler, misses Kels, and rides her bike.<br><br> 

February 2014 - Kels surprises Mal and comes home from Central America early.<br><br> 

February 2014 - February 2015 - Kels and Mal explore California together. Kels nannies adorable and favorite little dude - Miles. Kels visits Pennsylvania for the first time with Mal.<br><br> 

February 2015 - Kels and Mal move into their first tiny apartment together.<br><br> 

August 2015 - After the craziest missed connection and 24 bizarre, unplanned hours in the heart of Las Vegas, Mal and Kels make it to Pennsylvania where Mal asks Kels to marry her on her parent’s front porch in the middle of a quiet summer night. Kels says yes.<br><br>
 
</div>