<h1 class="text-center"> Our Story | Timeline </h1>
<div class="story-details">

<strong>January 2013</strong> - Kelsey makes her second trip to Thailand with the program she previously studied abroad with. This time she is coming back as a student leader. Mal decides to squeeze everything out of her last semester in college by studying abroad for the second time. On their way to Thailand, the East Coast and West Coast students meet in Seoul. Mal sees Kelsey on the plane and is intimidated by her coolness. Kelsey thinks Mal is a hippie with a ukelele and straw hat.<br><br>

<strong>February - April 2013</strong> - Mal and Kels become friends throughout the program. Mal has feelings for Kels. Kels has feelings for Mal. Kels writes about them in her journal. Neither of them say a word.<br><br> 

<strong>April 13, 2013</strong> - Mal turns 22 on Songkran- a Chiang Mai city-wide water festival celebrating the Thai New Year. Mal and Kels, along with everyone in the city limits, are drenched from head to toe the entire day.  While dancing in the streets, Mal says “I like you” to Kels. Kels says “I like you, too”. <br><br>

<strong>Summer of 2013</strong> - Mal is home in Pennsylvania. Kelsey is home in California. Mal and Kels Skype every day.<br><br>

<strong>August 2013</strong> - Mal is placed in Berkeley for her year of volunteer service with Lutheran Volunteer Corps. <br><br>

<strong>September 2013</strong> - Kelsey leaves to travel and explore the lands of Central America with best pal Lindsay. <br><br>

<strong>October 2013</strong> - Mal travels to Guatemala to explore caves, swim in rivers, and adventure around in the beautiful city of Antigua with Kels and Linds.<br><br> 

<strong>November 2013</strong> - Kels and Linds spend time farming in the jungle, learning Spanish, taming tarantulas, and canoeing with buckets o’ beers.  Mal works at a homeless services agency, joins a band with Kelsey’s brother Tyler, misses Kels, and rides her bike. <br><br>

<strong>February 2014</strong> - Kels surprises Mal and comes home from Central America early.<br><br>

<strong>February 2014</strong> - January 2015 - Kels and Mal explore California together. Kels nannies adorable and favorite little dude - Miles. Mal and Kels take their first trip together to Pennsylvania.<br><br> 

<strong>February 2015</strong> - Kels and Mal move into their first tiny apartment in Oakland. It is happiness.<br><br> 

<strong>August 2015</strong> - After the craziest missed connection and 24 bizarre, unplanned hours in the heart of Las Vegas, Mal and Kels make it to Pennsylvania where Mal asks Kels to marry her on her parent’s front porch in the middle of a quiet summer night. Kels says yes.<br><br>

<strong>Febraury-August 2016</strong> - Mal and Kels decide to adventure! They road trip around the country, and spend 6 amazing months with Mals fam in PA.<br><br> 

<strong>September 2016-June 2017</strong> - Kels and Mal return to life in Oakland, CA. Full of love and appreciation for each other, as well as all who are supporting them, Mal and Kels look forward to gettin’ married in June!!<br><br>
 
</div>