<div class="text-center">

  <h1> Timeline of Events </h1>
  <iframe src="https://giphy.com/embed/GAY3oqYU0J0Tm" width="480" height="267" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p></p>

  <h3>Wednesday, June 14th </h3>

  <h3>Thursday, June 15th </h3>

  <h3>Friday, June 16th </h3>

  <h3>Saturday, June 17th </h3>

  <h3>SUNDAY, JUNE 18th </h3>
</div>