<div class="text-center">

  <h1> Timeline of Events </h1>
 <iframe src="https://giphy.com/embed/GAY3oqYU0J0Tm" width="350" height="192" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><br><br>
<div class="contrast-timeline">
  <h4>Thursday, June 15th </h4>
  <p>Napa Outing (<i>optional</i>)<br>
  <b>9:30am</b> - leave Oakland<br>
   <b>10:45 - 11:45 </b> ||<a href="https://www.mummnapa.com/"><b> Mumm Napa</b></a><br>
   <b>12:00 - 1:30</b> ||<a href="http://www.vsattui.com/"><b> V. Sattui Winery</b></a><br>
   <b>2:00</b> - back to Oakland<br>
   <b>3:45 - 5:15</b> rest <i class="em em-sleeping"></i> </p>
  <p><b>6:00 - 7:00pm</b> Rehearsal at venue<br>
  <b>8:00 - ??</b> Rehearsal Dinner at Drake's Dealership <i class="em em-beers"></i></p>
</div>
  <h4>Friday, June 16th </h4>
  <p>Day to explore/visit<br>
    Pastries + <i class="em em-coffee"></i> at <a href="https://www.yelp.com/biz/arizmendi-bakery-oakland"><b>Arizmendi</b></a> and chill time around <a href="http://www.lakemerritt.org/"><b>Lake Merritt</b></a><br>
    Manicures (<i>optional</i>)<br>
    Friends party in the evening - time <b>TBD!</b></p>
<div class="contrast-timeline">
  <h4>Saturday, June 17th </h4>
  <p>Day to explore/visit<br>Flower arrangement party and other preparations!<br>
    <i class="em em-bouquet"></i><i class="em em-blossom"></i><i class="em em-cherry_blossom"></i><i class="em em-hibiscus"></i><i class="em em-tulip"></i></p>
</div>
  <h4>SUNDAY, JUNE 18th </h4>
  <h4>THE BIG DAY!</h4> <i class="em em-two_hearts"></i><i class="em em-balloon"></i><i class="em em-rainbow"></i><br>
    <p><i>Detailed timeline will be provided. <br>As for a general outline:</i><br>
    <b>8:00 -12:00</b> - getting ready<br>
    <b>1:15</b> - arrive on site<br>
    <b>1:30</b> - photos<br>
    <b>3:30</b> - ceremony begins!<br>
  </p>
<div class="contrast-timeline">
  <h4>Monday, JUNE 19th</h4>
  <p><b>10:30am</b> Brunch at the Santoro Home</p>
</div>
<!--Mapbox map-->
<div id='map' style='600px; height: 600px;'></div>
<div class="dates-timeline">
  <p><b>Hacienda de las Flores</b><br>
    <a href="https://www.google.com/maps/place/2100+Donald+Dr,+Moraga,+CA+94556/@37.8521809,-122.1290582,17z/data=!3m1!4b1!4m5!3m4!1s0x808f89d29b6cc4fb:0xf1136d062b970388!8m2!3d37.8521809!4d-122.1268695">2100 Donald Dr<br>
    Moraga, CA 94556</a><br><br>
    <b>Drake's Dealership</b><br>
    <a href="https://www.google.com/maps/place/2325+Broadway,+Oakland,+CA+94612/@37.8125116,-122.2683246,17z/data=!3m1!4b1!4m5!3m4!1s0x808f80acceff9957:0xf80ad6116b403004!8m2!3d37.8125116!4d-122.2661359">2325 Broadway<br>
    Oakland, CA 94612</a><br><br>
    <b>Mal & Kelsey's Apartment</b><br>
    <a href="https://www.google.com/maps/place/627+Beacon+St,+Oakland,+CA+94610/@37.808421,-122.2488077,17z/data=!3m1!4b1!4m5!3m4!1s0x808f87411e061c95:0x1977c38d764269a7!8m2!3d37.808421!4d-122.246619">627 Beacon Street<br> 
    Oakland, CA 94610</a><br><br>
    <b>Santoro Home</b><br>
    <a href="https://www.google.com/maps/place/1167+Conejo+Way,+Walnut+Creek,+CA+94597/@37.9187378,-122.0851206,17z/data=!3m1!4b1!4m5!3m4!1s0x8085617dee709adf:0x10f2c8aaf9b4ab1f!8m2!3d37.9187378!4d-122.0829319">1167 Conejo Way<br>
    Walnut Creek, CA 94597</a><br><br>
    <b>Wood Family Airbnb</b><br>
    <a href="https://www.google.com/maps/place/1717+Wellington+St,+Oakland,+CA+94602/@37.8054603,-122.2193775,17z/data=!3m1!4b1!4m5!3m4!1s0x808f87a7d559dded:0xff5e21ecdb6a96a3!8m2!3d37.8054603!4d-122.2171888">1717 Wellington St.,<br>
    Oakland Ca 94602</a><br>
  </p>
</div>
</div>